<div class="row-fluid">
  <div class="span12">
    <div class="box paint color_2">
      <div class="title">
        <h4>
          <i class="icon-calendar"></i>
          <span>Register</span>
        </h1>
      </div>

      <div class="content">
        <form {{action "submit" on="submit"}}class="form-horizontal bs-docs-example">
          <div class="control-group row-fluid">
            <label {{bindAttr for=firstNameField.field_id}} class="control-label span3">First Name</label>
            <div class="controls span9 input-append">
              {{view Ember.TextField valueBinding="firstName" classNames="row-fluid" viewName="firstNameField"}}
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
            </div>
          </div>

          <div class="control-group row-fluid">
            <label for="" class="control-label span3">Last Name</label>
            <div class="controls span9 input-append">
              {{view Ember.TextField valueBinding="lastName" classNames="row-fluid"}}
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
            </div>
          </div>

          <div class="control-group row-fluid">
            <label for="" class="control-label span3">Email</label>
            <div class="controls span9 input-append">
              {{view Ember.TextField valueBinding="email" classNames="row-fluid" type="email"}}
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
            </div>
          </div>

          <div class="control-group row-fluid">
            <label for="" class="control-label span3">Password</label>
            <div class="controls span9 input-append">
              {{view Ember.TextField valueBinding="password" classNames="row-fluid" type="password"}}
              <span class="add-on">
                <i class="icon-lock"></i>
              </span>
            </div>
          </div>

          <div class="control-group row-fluid">
            <label for="" class="control-label span3">Password Confirmation</label>
            <div class="controls span9 input-append">
              {{view Ember.TextField valueBinding="passwordConfirmation" classNames="row-fluid" type="password"}}
              <span class="add-on">
                <i class="icon-lock"></i>
              </span>
            </div>
          </div>

          <div class="control-group row-fluid">
            <div class="span3 visible-desktop"></div>
            <div class="controls span5">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
