<div class="control-group row-fluid">
  <label for="" class="control-label span3">Salutation</label>
  <div class="controls span9 input-append">
    {{view Ember.Select contentBinding="App.salutations" valueBinding="salutation" classNames="chzn-select" optionValuePath="content.key" optionLabelPath="content.value"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">First Name</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="firstName" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Last Name</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="lastName" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Company</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="company" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Title</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="title" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Email</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="email" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Phone</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="phone" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Mobile</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="mobile" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Street</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="street" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">City</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="city" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">State</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="region" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Postal Code</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="postalCode" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>

<div class="control-group row-fluid">
  <label for="" class="control-label span3">Country</label>
  <div class="controls span9 input-append">
    {{view Ember.TextField valueBinding="country" classNames="row-fluid"}}
    <span class="add-on">
      <i class="icon-user"></i>
    </span>
  </div>
</div>
